body {
    font-family: Arial, sans-serif;
   background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(2, 1, 41), rgb(0, 0, 0));

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    text-align: center;
}

form {
    background: rgb(35, 35, 52);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form p {
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 250px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background: #6260db9e;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #646464;
}

p a {
    display: block;
    margin-top: 20px;
    text-align: center;
}

a{
    text-decoration: none;
    color: #ffff;
}

